{% import 'macros/form.html' as form %}

{% if map and map.filter_name %}
  {% set class = '' %}
{% else %}
  {% set class = 'hidden' %}
{% endif %}

<div id="map_item_{{ n }}" class="item map visualization-fields-section">
tests
<div class="item-wrapper">
  {% set resources = h.querytool_get_geojson_resources() %}

  <div class="form-group">
    <label class="control-label col-sm-4" for="map_resource_{{ n }}">{{ _('Map resource') }}</label>
    <div class="col-sm-8">
      <select id="map_resource_{{ n }}" name="map_resource_{{ n }}" required=required class="form-control">
      <option value="">&mdash; {{ _('Select map resource') }} &mdash;</option>
      {% for resource in resources %}
        {% set isSelected = map and h.querytool_get_dataset_url_path(map.map_resource) == h.querytool_get_dataset_url_path(resource.value) %}
        <option value="{{ resource.value }}" {% if isSelected  %}selected{% endif %} >{{resource.text}}</option>
      {% endfor %}
      </select>
    </div>
  </div>

  {% if map %}
    {% set map_properties = h.querytool_get_geojson_properties(map.map_resource) %}
  {% else %}
    {% set map_properties = [] %}
  {% endif %}

  <div class="form-group">
    <label class="control-label col-sm-4" for="map_title_field_{{ n }}">{{ _('Title field') }}</label>
    <div class="col-sm-8">
      <select id="map_title_field_{{ n }}" name="map_title_field_{{ n }}" required=required class="form-control">
      <option value="">&mdash; {{ _('Select title field') }} &mdash;</option>
      {% if map_properties %}
        {% for property in map_properties %}
          <option value="{{ property.value }}" {% if map %}{{ 'selected' if property.value == map.map_title_field }}{% endif %} >{{property.text}}</option>
        {% endfor %}
      {% endif %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-4" for="map_key_field_{{ n }}">{{ _('Map key field') }}</label>
    <div class="col-sm-8">
      <select id="map_key_field_{{ n }}" name="map_key_field_{{ n }}" required=required class="form-control">
      <option value="">&mdash; {{ _('Select map key field') }} &mdash;</option>
      {% if map_properties %}
        {% for property in map_properties %}
          <option value="{{ property.value }}" {% if map %}{{ 'selected' if property.value == map.map_key_field }}{% endif %} >{{property.text}}</option>
        {% endfor %}
      {% endif %}
      </select>
    </div>
  </div>

  {% set color_schemes = h.querytool_get_map_color_scheme() %}
  <div class="form-group">
    <label class="control-label col-sm-4" for="map_color_scheme_{{ n }}">{{ _('Color scheme') }}</label>
    <div class="col-sm-8">
      <select id="map_color_scheme_{{ n }}" name="map_color_scheme_{{ n }}" class="form-control">
          <optgroup label="Diverging">
          {% for color in color_schemes %}
            <option value="{{ color.value }}" {% if map %}{{ 'selected' if color.value == map.map_color_scheme }}{% endif %}>{{ color.text }}</option>
          {% endfor %}
          </optgroup>
      </select>
    </div>
  </div>

  {% set sizes = h.querytool_get_visualization_size() %}
  <div class="form-group">
    <label class="control-label col-sm-4" for="map_size_{{ n }}">{{ _('Size') }}</label>
      <div class="col-sm-8">
        <select id="map_size_{{ n }}" name="map_size_{{ n }}" class="form-control">
        {% for size in sizes %}
          <option value="{{ size.value }}" {% if map %}{{ 'selected' if size.value == map.size }}{% endif %} >{{ size.text }}</option>
        {% endfor %}
        </select>
      </div>
  </div>

  <ul class="list-inline text-right chart-actions">
    <li class="remove"><a id="delete-item-btn" class="btn btn-default delete-item-btn">{% block delete_button_text %}<span class="fa fa-trash-o" aria-hidden="true"></span> {{ _('Delete') }}{% endblock %}</a></li>
  </ul>
  <span class="grippy"></span>
</div>

<div class="preview-wrapper">
  {% if map %}
    {% set map_resource=map.map_resource %}
    {% set map_title_field=map.map_title_field %}
    {% set map_key_field=map.map_key_field %}
    {% set map_color_scheme=map.map_color_scheme %}
  {% endif %}
  {% set map_config = h.querytool_get_map_config() %}
  {% snippet 'ajax_snippets/map_module.html',
    map_config=map_config,
    n=n,
    measure_label = measure_label,
    map_resource=map_resource,
    map_title_field=map_title_field,
    map_key_field=map_key_field,
    map_color_scheme=map_color_scheme
  %}
</div>
</div>
